
$purple-60: #4C00C2;
$purple-90: #32007E;
$purple: #3B058E;
$background: #E5E5E5;
$white: #ffffff;
$grey-20: #D3D8E1;
$grey-50: #798291;
$grey-70: #444E5D;
$grey-90: #1A212C;
$green-30: #19AC51;
$red-30: #FC484C;
$light-blue: #01c9c7;

$border-radius-12: 12px;
$border-radius-16: 16px;
$border-radius-24: 24px;
$border-radius-100: 100px;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$font-size-30: 30px;

$space-4: 4px;
$space-8: 8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;

$breakpoint-desktop: 768px;
$breakpoint-desktop-max: 767px;
$max-mobile-width: 960px;
$min-desktop-width: 1024px;
$min-desktop-lg-width: 1200px;
$desktop-width-850: 850px;
$min-tablet-width: 641px;
$mobile-width-480: 480px;
$mobile-width-320: 320px;
$mobile-width-568-landscape: 568px;
$mobile-height-553: 553px;
